Load a dataset (Titanic from Kaggle), clean it, and make simple graphs

1. Download dataset from Kaggle and load it
2. Fill the nAN values in 'Age' Column with median value
3. Remove unwanted columns (Name, Ticket)
4. Make 3 graphs: Survival by gender (bar plot), Survival by passenger class (bar plot) and Age distribution of survivors (histogram)